/*Open Smart Country Icon Font*/

@font-face {
  font-family: 'oscIconFont';
  src:  url('../fonts/oscIconFont.eot?dxisic');
  src:  url('../fonts/oscIconFont.eot?dxisic#iefix') format('embedded-opentype'),
    url('../fonts/oscIconFont.ttf?dxisic') format('truetype'),
    url('../fonts/oscIconFont.woff?dxisic') format('woff'),
    url('../fonts/oscIconFont.svg?dxisic#oscIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oscIconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\ea93";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-whatsapp2:before {
  content: "\ea94";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-github:before {
  content: "\eab0";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-menu:before {
  content: "\e9be";
}
.icon-ocs:before {
  content: "\6f";
}
.icon-osc-filled:before {
  content: "\73";
}
.icon-osc-bold:before {
  content: "\4f";
}
.icon-osc-bold-filled:before {
  content: "\53";
}
.icon-osc-icon-inner:before {
  content: "\63";
}
.icon-down:before {
  content: "\e900";
}

/*Open Smart Country Icon Font*/

body, html {
    font-family: 'open sans', arial, sans-serif;
    font-size: 16px;
    color: rgb(76, 76, 76);
    font-weight: lighter;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

header {
    color: grey;
    background-color: white;
    display: block;
    position: fixed;
    width: 100%;
}

header figure {
    position: absolute;
    display: inline-block;
    float: left;
    margin: 0;
}

.icon-logo, .burguer-button {
    padding: 20px 24px 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
}

.menu {
    float: right;
    display: block;
}

.menu ul {
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    padding: 24px;
}

header a:hover {
    color: white;
    background-color: #cfcfcf;
}

.menu a.go-to-osc {
    background-color: rgb(67, 134, 252);
    color: #fff;
    cursor: auto;
}

.menu a.go-to-osc:hover {
    background-color: rgb(34, 99, 214);
}

.burguer-button {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.landing {
    height: 100%;
}

.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 77px;
    display: inline-block;
    margin-bottom: 16px;
    color: white;
}

.title {
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.button {
    font-weight: 600;
    margin-top: 30px;
    padding: 16px 26px 16px 26px;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(67, 134, 252);
    text-shadow: rgba(0, 0, 0, .0784314) 0 -1px 0;
}

.button:hover {
    background-color: rgb(34, 99, 214);
}

.arrow-hint {
    position: absolute;
    bottom: 0;
    display: inline-block;
}

.arrow-hint a {
    text-decoration: none;
    color: white;
    font-size: 34px;
}

.arrow-hint div:last-of-type {
    margin-bottom: 20px;
}

.animated-arrow-1 {
    -webkit-animation: arrow1 3s infinite ease-out;
    animation: arrow1 3s infinite ease-out;
}

@-webkit-keyframes arrow1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}

@keyframes arrow1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 36px);
        -ms-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}

.animated-arrow-2 {
    -webkit-animation: arrow2 3s infinite ease-in;
    animation: arrow2 3s infinite ease-in;
}

@-webkit-keyframes arrow2 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}

@keyframes arrow2 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 36px);
        -ms-transform: translate(0, 36px);
        transform: translate(0, 36px)
    }
}


/* Android UI guidelines https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately*/

.recomended-min-button-size {
    min-width: 47px;
    min-height: 47px;
}

.content-wrapper {
    background-color: white;
    text-align: center;
}

.section {
    margin: auto;
    padding: 60px 0 60px 0;
    max-width: 86%;

}

.section-profile, .section-everywhere{
  display: flex;
  flex-wrap: wrap;
}

.section-everywhere{
  flex-wrap: wrap-reverse;
}

.section h2, .section p {
    font-weight: lighter;
    margin: 0;
}

.column {
  width: 100%;
}

.icon-row{
  margin-bottom: 25px;
}
.section .material-icons{
  padding: 15px 8px 15px 8px;
  margin-right: 20px;
}

.icon-row .material-icons:last-of-type{
  margin-right: 0;
}

.material-icons.md-70 {
    font-size: 70px;
}

.material-icons.blue600 {
    color: rgb(255, 255, 255);
    background: #3980FB;
}

.material-icons.red600 {
    color: rgb(255, 255, 255);
    background: #DF4430
}

.material-icons.green600 {
    color: rgb(255, 255, 255);
    background: #029D54
}

.material-icons.yelow600 {
    color: rgb(255, 255, 255);
    background: #F6B502
}

.material-icons.magenta600 {
    color: rgb(255, 255, 255);
    background: #CC338E
}

.photo-wrapper {
    height: 500px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.everywhere-photo, .share-photo, .final-photo{
  background-position: center bottom;
  background-size: cover;
  height: 100%;
}

.section-everywhere .material-icons{
  font-size: 220px;
}
.section-share{
  max-width: 70%;
}
.section-share i{
  font-size: 40px;
}

.section-share .icon-facebook {
    color: #3b5998;
}
.section-share .icon-twitter {
  color: #1DA1F2 ;
 }

 .section-share .icon-whatsapp{
   color: #25D366;
 }

 .section-share .icon-file-pdf{
   color: #DB290F;
 }

 .section-share .share-icons{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }
 .section-share .material-icons{
   color: rgba(255, 255, 255, 1);
   background-color: grey;
   border-radius: 50%;
   padding: 10px;
   margin: 0;
   font-size: 30px;
 }

 .section-final h1{
   font-weight: lighter;
   color: rgb(64, 64, 64);
   max-width: 80%;
   text-align: center;
   margin: auto;
 }

 .section-final .logo{
   color: rgb(64, 64, 64);
 }



@media screen and (max-width: 320px) {
    .landing-background {
        background-image: url('../images/14469337569_fe1a849240_o_320.jpg');
    }

    .everywhere-photo{
      background-image: url('../images/cies-islands-1341434_320.jpg');
    }

    .share-photo{
      background-image: url('../images/bike-1087222_320.jpg');
    }

    .final-photo{
      background-image: url('../images/dandelion-437827_320.jpg');
    }
}

@media screen and (max-width: 768px) {
    .landing-background {
        background-image: url('../images/14469337569_fe1a849240_o_768.jpg');
    }

    .everywhere-photo{
      background-image: url('../images/cies-islands-1341434_768.jpg');
    }

    .share-photo{
      background-image: url('../images/bike-1087222_768.jpg');
    }

    .final-photo{
      background-image: url('../images/dandelion-437827_768.jpg');
    }

    .title {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.29;
        color: #fff;
        text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    }
    .header {
        color: lightgrey;
        z-index: 1;
    }
    .menu {
        text-align: center;
        color: #66a0fd;
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        width: 100%;
        transition: 300ms;
    }
    .menu.active {
        left: 0;
    }
    .menu ul {
        padding: 0;
        margin-bottom: 24px;
    }
    .menu li {
        width: 100%;
    }
    .menu a.go-to-osc {
        border: 1px solid #66a0fd;
        background-color: white;
        color: inherit;
    }
    .hide-small {
        display: none;
    }
    .button {
        font-size: 12px;
    }
    .logo {
        font-size: 60px;
    }

    .photo-wrapper {
        height:300px
    }

    .section-share{
      max-width: 90%;
    }
}

@media screen and (min-width:768px) {
    .hide-large {
        display: none;
    }
    .burguer-button {
        display: none;
    }

    .section{
      font-size: 21px;
    }

    .section h2{
      font-size: 42px;
    }

    .section-profile .column, .section-everywhere .column{
      max-width: 50%;
    }

    .section .column:last-of-type{
      display: flex;
      align-items: center;
      justify-content: center;
    }

}

@media screen and (max-width: 1024px) {
    .landing-background {
        background-image: url('../images/14469337569_fe1a849240_o_1024.jpg');
    }
    .everywhere-photo{
      background-image: url('../images/cies-islands-1341434_1024.jpg');
    }
    .share-photo{
      background-image: url('../images/bike-1087222_1024.jpg');
    }

    .final-photo{
      background-image: url('../images/dandelion-437827_1024.jpg');
    }
}

@media screen and (max-width: 1200px) {
    .landing-background {
        background-image: url('../images/14469337569_fe1a849240_o_1200.jpg');
    }
    .everywhere-photo{
      background-image: url('../images/cies-islands-1341434_1200.jpg');
    }
    .share-photo{
      background-image: url('../images/bike-1087222_1200.jpg');
    }
    .final-photo{
      background-image: url('../images/dandelion-437827_1200.jpg');
    }
}

@media screen and (max-width: 1600px) {
    .landing-background {
        background-image: url('../images/14469337569_fe1a849240_o_1600.jpg');
    }
    .everywhere-photo{
      background-image: url('../images/cies-islands-1341434_1600.jpg');
    }
    .share-photo{
      background-image: url('../images/bike-1087222_1600.jpg');
    }
    .final-photo{
      background-image: url('../images/dandelion-437827_1600.jpg');
    }
}

@media screen and (min-width: 1600px) {
    .landing-background {
        background-image: url('../images/14469337569_fe1a849240_o_4256x2832.jpg');
    }
    .everywhere-photo{
      background-image: url('../images/cies-islands-1341434_3264x2448.jpg');
    }
    .share-photo{
      background-image: url('../images/bike-1087222_4608x3456.jpg');
    }
    .final-photo{
      background-image: url('../images/dandelion-437827_5184x3888.jpg');
    }
}
