/*Open Smart Country Icon Font*/

@font-face
{
    font-family: 'oscIconFont';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/oscIconFont.eot?3vqivc');
    src: url('../fonts/oscIconFont.eot?3vqivc#iefix') format('embedded-opentype'),
    url('../fonts/oscIconFont.ttf?3vqivc') format('truetype'),
    url('../fonts/oscIconFont.woff?3vqivc') format('woff'),
    url('../fonts/oscIconFont.svg?3vqivc#oscIconFont') format('svg');
}

[class^='icon-'],
[class*=' icon-']
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'oscIconFont' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before
{
    content: '\eab0';
}
.icon-twitter:before
{
    content: '\ea96';
}
.icon-facebook:before
{
    content: '\ea90';
}
.icon-facebook2:before
{
    content: '\ea91';
}
.icon-menu:before
{
    content: '\e9be';
}
.icon-keyboard_arrow_down:before
{
    content: '\e900';
}
.icon-ocs:before
{
    content: '\6f';
}
.icon-osc-filled:before
{
    content: '\73';
}
.icon-osc-bold:before
{
    content: '\4f';
}
.icon-osc-bold-filled:before
{
    content: '\53';
}
.icon-osc-icon-inner:before
{
    content: '\63';
}

/*Open Smart Country Icon Font*/


body,
html
{
    font-family: 'open sans',arial,sans-serif;
    font-size: 16px;

    height: 100%;
    margin: 0;

    -webkit-font-smoothing: antialiased;
}

header
{
    color: grey;
    background-color: white;
    display: block;
    position: fixed;
    width: 100%;
}

header figure
{
    font-size: 30px;

    display: block;
    float:left;
    margin: 0;
}

.icon-logo{
  margin-left: 20px;
  padding: 20px 24px 20px 0px;
  display: block;
  text-decoration: none;

}

.menu
{

    float: right;
    display: block;
}

.menu ul{
  margin: 0;
}

.menu li
{
    display: inline-block;
    margin-left: 30px;
}



.menu a
{
    text-decoration: none;
    display: inline-block;

    color: inherit;

    padding: 24px;
}

.menu a:hover
{
    color: white;
    background-color: #cfcfcf;
}



.landing
{
    height: 100%;
}

.flex-container
{
    display: flex;

    text-align: center;

    justify-content: center;
    align-items: center;
}

.logo
{
    font-size: 77px;

    display: inline-block;

    margin-bottom: 16px;

    color: white;
}

.title
{
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;

    margin: 0;

    color: white;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.button
{
    font-weight: 600;

    margin-top: 30px;
    padding: 16px 26px 16px 26px;

    cursor: pointer;
    text-align: center;

    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(67, 134, 252);
    text-shadow: rgba(0, 0, 0, .0784314) 0 -1px 0;
}

.button:hover
{
    background-color: rgb(34, 99, 214);
}


/* Android UI guidelines https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately*/
.recomended-min-button-size
{
    min-width: 47px;
    min-height: 47px;
}

.bottom
{
    position: fixed;
    bottom: 0;
}

.social-buttons
{
    position: absolute;
    left: 0;

    display: inline-block;
}

.right
{
    position: absolute;
    right: 0;
}

@media screen and (max-width: 320px)
{
    .landing-background
    {
        background-image: url('../images/14469337569_fe1a849240_o_320.jpg');
    }
}

@media screen and (max-width: 768px)
{
    .landing-background
    {
        background-image: url('../images/14469337569_fe1a849240_o_768.jpg');
    }

    .title
    {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.29;

        color: #fff;
        text-shadow: 0 2px 3px rgba(0,0,0,.4);
    }

    .menu li
    {
        padding: 8px 16px 9px 24px;
    }

    .menu .hide-small
    {
        display: none;
    }

    .button
    {
        font-size: 12px;
    }

    .logo
    {
        font-size: 60px;
    }
}

@media screen and (min-width:768px)
{
    .menu .hide-large
    {
        display: none;
    }
}

@media screen and (max-width: 1024px)
{
    .landing-background
    {
        background-image: url('../images/14469337569_fe1a849240_o_1024.jpg');
    }
}

@media screen and (max-width: 1200px)
{
    .landing-background
    {
        background-image: url('../images/14469337569_fe1a849240_o_1200.jpg');
    }
}

@media screen and (max-width: 1600px)
{
    .landing-background
    {
        background-image: url('../images/14469337569_fe1a849240_o_1600.jpg');
    }
}

@media screen and (min-width: 1600px)
{
    .landing-background
    {
        background-image: url('../images/14469337569_fe1a849240_o_4256x2832.jpg');
    }
}
